<div class="row">
  <div class="col-sm-8">
    <h2 class="mt-4">Mosgiel Taekwon-Do</h2>
    <p>We are an ITF Taekwon-Do club in Mosgiel, New Zealand. We are led by Mr. Dion Bennett, 4th dan and we train on <a href="/contact/">Monday and Wednesday evenings</a> and have extra activities throughout the year. Membership is open to anyone over the age of six and your membership allows you to train with any other ITF club world-wide.</p>
    <p>Not sure if Taekwon-Do is right for you? You can come along to the club and observe or try for free for one month, no strings attached. <a href="/about/">Find out more</a>.</p>
  </div>
  <div class="col-sm-4">
    <h2 class="mt-4">Contact Us</h2>
    <address>
      <strong>Mosgiel Taekwon-Do</strong>
      <br>c/o The Taieri College,
      <br>Centennial Gymnasium,
      <br>Church Street Entrance,
      <br>Mosgiel
    </address>
    <address>
      Phone: <a href="tel:+64210664660">021 066 4660</a> (call or txt)
      <br>
      Email: <a href="mailto:enquiries.mosgieltkd@gmail.com">enquiries.mosgieltkd@gmail.com</a>
    </address>
  </div>
</div>
