<div class="row">
  <div class="col-md-4 my-4 d-flex flex-grow-1">
    <div class="card">
      <img class="card-img-top" src="/images/daebi-makgi.jpg" alt="Students training in Taekwon-Do">
      <div class="card-body">
        <h4 class="card-title">Why Taekwon-Do?</h4>
        <p class="card-text">Taekwon-Do has many physical and mental health benefits, and promotes both personal achievement and working with others - see if it's right for you.</p>
      </div>
      <div class="card-footer">
        <a href="/benefits/" class="btn btn-danger text-white">Read More &raquo;</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-4 d-flex flex-grow-1">
    <div class="card">
      <img class="card-img-top" src="/images/dion-self-defence.jpg" alt="Self Defence">
      <div class="card-body">
        <h4 class="card-title">Self Defence</h4>
        <p class="card-text">We teach self defence which is only effective if it becomes a reflex. We cover awareness, avoidance, releases, counter-attacks and your rights under NZ law.</p>
      </div>
      <div class="card-footer">
        <a href="/self-defence/" class="btn btn-danger text-white">Read More &raquo;</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 my-4 d-flex flex-grow-1">
    <div class="card">
      <img class="card-img-top" src="/images/crop.jpg" alt="Mini Kids Clas">
      <div class="card-body">
        <h4 class="card-title">Check out our Mini-Kids class</h4>
        <p class="card-text">Starting Taekwon-Do is the biggest hurdle, but not for our kids - we have a good group of kids who love to work and play together to learn about Taekwon-Do.</p>
      </div>
      <div class="card-footer">
        <a href="/mini-kids/" class="btn btn-danger text-white">Find Out More &raquo;</a>
      </div>
    </div>
  </div>
</div>
