<div class="row mb-4">
  <div class="col-sm-12 col-md-7">
    <blockquote class="oath">
      <p>I shall observe the tenets of Taekwon-Do</p>
      <p>I shall respect the instructor and seniors</p>
      <p>I shall never misuse Taekwon-Do</p>
      <p>I shall be a champion of freedom and justice</p>
      <p>I shall build a more peaceful world</p>
    </blockquote>
  </div>
  <div class="col-sm-12 col-md-5">
    <img class="w-100" src="/images/oath.jpg" alt="Students reciting the student oath" />
  </div>
</div>
