<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}Mosgiel Taekwon-Do</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/images/favicon.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="/assets/css/app.css" rel="stylesheet">
    <style>[id] { scroll-margin-top: 70px; }</style>
  </head>
  <body class="{{ page.body_class | default: page.url | remove_first: '/' | remove: '/' | replace: '-', '_' | default: 'index' }}">

    {% include nav.html %}

    {{ content }}

    <!-- Footer -->
    <footer class="py-5 bg-dark text-white">
      <div class="container">
        <div class="row mb-4">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <h5>Training Times</h5>
            <table class="text-white-50">
              <tbody>
                <tr><td class="pr-3">Mon &amp; Wed</td><td>6:00pm &ndash; 7:30pm</td></tr>
                <tr><td class="pr-3">Wed (Mini-Kids)</td><td>5:30pm &ndash; 6:30pm</td></tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
            <h5>Location</h5>
            <address class="text-white-50 mb-0">
              Centennial Gymnasium<br>
              Taieri College, Church St<br>
              Mosgiel
            </address>
          </div>
          <div class="col-sm-4">
            <h5>Contact</h5>
            <p class="text-white-50 mb-1"><a href="tel:+64210664660" class="text-white-50">021 066 4660</a></p>
            <p class="text-white-50 mb-0"><a href="mailto:enquiries.mosgieltkd@gmail.com" class="text-white-50">enquiries.mosgieltkd@gmail.com</a></p>
          </div>
        </div>
        <p class="m-0 text-center text-white-50 border-top border-secondary pt-4">Copyright &copy; Mosgiel Taekwon-Do - All Rights Reserved</p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
