---
layout: default
---
<div class="container pb-4">

  <h1>{{ page.title }}</h1>
  <hr/>

  <h2>Pattern Meaning</h2>
  <blockquote>{{ page.meaning }}</blockquote>

  {% if page.audio %}
  <div class="d-flex align-items-center mb-4">
    <span class="mr-2">Listen now:</span>
    <audio controls loop class="mw-100">
      <source src="/images/resources/patterns/{{ page.audio }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  {% endif %}

  <h2>Video</h2>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="https://www.youtube.com/embed/{{ page.youtube_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

</div>

<header class="business" id="image-2"></header>
