---
layout: default
---
<div class="container pb-4">

  <h1>{{ page.title }}</h1>
  <hr/>

  <h2>Pattern Meaning</h2>
  <blockquote>{{ page.meaning }}</blockquote>

  {% if page.audio %}
  <div class="d-flex align-items-center mb-4">
    <span class="mr-2">Listen now:</span>
    <audio controls loop class="mw-100">
      <source src="/images/resources/patterns/{{ page.audio }}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-12 col-md">
      <h2>Demonstration</h2>
      <div class="embed-responsive embed-responsive-16by9 mb-4">
        <iframe src="https://www.youtube.com/embed/{{ page.youtube_id }}" title="{{ page.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
    {% if page.youtube_lesson_id %}
    <div class="col-12 col-md">
      <h2>Lesson</h2>
      <div class="embed-responsive embed-responsive-16by9 mb-4">
        <iframe src="https://www.youtube.com/embed/{{ page.youtube_lesson_id }}" title="{{ page.title }} Lesson" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  {% endif %}
  </div>

  {% if page.movements %}
  <h2>Movements</h2>
  <ol>
    {% for movement in page.movements %}
    <li>{{ movement }}</li>
    {% endfor %}
  </ol>
  {% if page.end_movement %}
  <p><strong>END: {{ page.end_movement }}</strong></p>
  {% endif %}
  {% endif %}

  {% if page.notes %}
    {{ page.notes | raw }}
  {% endif %}
</div>

<header class="business" id="image-2"></header>
